<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <!-- CSS only -->
    <script>
        function deleteNote(id){
            const http = new XMLHttpRequest();
            http.open('DELETE','/api/note/'+id)
            http.onreadystatechange = function (){
                if (http.readyState===http.DONE&&http.status===200){
                    alert("note deleted")
                    location.reload();
                }
            }
            http.send();
        }

    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="justify-content-center p-5">

<button type="button" class="btn-dark rounded-1 mb-1"><a class="text-decoration-none text-light" href="/addNote">Add note</a></button>

<table class="table table-dark table-sm table-striped table-hover">
    <thead>
    <tr class="table-dark">
        <th>#</th>
        <th>Title</th>
        <th>Detail</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note: ${notes}">
        <td th:text="${note.id}"></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.detail}"></td>
        <td th:attr="onclick=|deleteNote('${note.id}')|">Delete</td>
    </tr>

    </tbody>
</table>
</body>
</html>